#
# ZEO.ORG - Carbon API
#       secrets
#

# Internal Accounts
INTERNAL_ACCOUNTS_JSON= # You can set it like that: {"accounts":[{"name": "bora@zeo.org", "password": "SHA256_PASSWORD", "limit":-1}]} # "-1" means limitless account.

# SERP API Credentials
SERP_API_CREDENTIALS_JSON= # You can set it like that: {"keys":[{"address":"...", "key":"..."}, {...}, {...}]}

# DataForSeo Credentials
DFS_API_ADDRESS= # Live: "https://api.dataforseo.com/v3/serp/google/organic/live/regular"
                 # A sandbox for testing: "https://sandbox.dataforseo.com/v3/$path"
DFS_API_USER=
DFS_API_PASSWORD=

# Google Credentials
GOOGLE_APPLICATION_CREDENTIALS_JSON= # Google Drive API V3 must be enabled.
GOOGLE_DRIVE_TOKEN_JSON= # ZEO.ORG account to keep sheets, drive_filescope scope is needed.
