#
# ZEO.ORG - Carbon API
#       secrets
#

# SERP API AUTH
SERP_API_ADDRESS=
SERP_API_USERNAME=
SERP_API_PASSWORD=

# Google Credentials
GOOGLE_APPLICATION_CREDENTIALS_JSON= # Google Drive API V3 must be enabled.
GOOGLE_DRIVE_TOKEN_JSON= # ZEO.ORG account to keep sheets, drive_filescope scope is needed.
